* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;  
    height: auto;
    margin-right: 10px;
}

.logo h4 {
    font-size: 18px;  
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
}

.bars {
    display: none;
}

.nav-bar ul {
    display: flex;
}
 
.nav-bar ul li a {
    display: block;
    color: #000000;
    font-size: 18px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
}


.nav-bar ul li a:hover {
    color: #ffffff;
    background-color:#000000 ;
}

/**Estilos del contenido**/

 
  footer {
    background-color: #fdfdfd;  
    padding: 40px 0;  
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;  
}

footer ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);  
    font-size: 16px;  
}

footer ul li a:hover {
    color: #286f85;  
}

@media (max-width: 900px) {
    header {
        padding: 0px 15px;
 
    }
  
    .bars {
        color: #000;
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        color: #000;
        background-color: #000000;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        padding: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #ffffff;
         
        transition: 0.5s;
        overflow: hidden;
        z-index: 3;
    }

    .nav-bar.active {
        height: auto;
    
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
    
.bars .line {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0px;
    transition: 0.2s;
}

.bars.cross .line:nth-child(1) {
    transform:  rotate(-225deg) translate(6px, -6px);  
}

.bars.cross .line:nth-child(2) {
    transform: rotate(225deg);
}

footer ul li a {
    font-size: 0;
}

footer ul li a i {
    font-size: 25px;
}

footer ul li a:hover {
    color: #286f85;
}
}
